name: Build & Push to GHCR

on:
  push:
    tags:
      - "v*" # Beispiel: v9.4.7 oder v9.4.7-1

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}

      - name: Extract version from tag
        id: meta
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Build & Tag
        id: build
        run: |
          IMAGE="ghcr.io/${{ github.repository_owner }}/$(basename ${{ github.repository }}):${{ steps.meta.outputs.VERSION }}"
          docker build -t $IMAGE .
          echo "IMAGE=$IMAGE" >> $GITHUB_OUTPUT

      - name: Push
        run: |
          docker push ${{ steps.build.outputs.IMAGE }}
